{# TODO: should use a VM ... And translate the error message #}
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}



{% block body %}

    {% if authError %}
        <p style="color:red; font-weight: bold">LOGIN ERROR: {{ authError.message }}</p>
    {% endif %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p style="color:black;">LOGGED IN!!!</p>
        {% if is_granted("ROLE_ADMIN") %}
            <p style="color:black;">YOU ARE A HIGH LEVEL ADMINISTRATOR...</p>
        {% endif %}

        <p style="color:black;">User entity in Twig: {{ app.user  }}</p>
        <p style="color:black;">User entity from the controller: {{ myUser.username  }}</p>

        <p><a href="{{ path("playerlistguest") }}"style="color:black;">BACK TO PLAYERS LIST</a></p>
        <p><a href="{{ path("app_logout") }}"style="color:black;">LOG OUT</a></p>
        <p><a href="{{ path("protected_content") }}"style="color:black;">EDIT PLAYERS</a></p>
        <p><a href="{{ path("protected_content_teams") }}"style="color:black;">EDIT TABLE</a></p>
        <p><a href="{{ path("forum_topiclist") }}"style="color:black;">FORUM</a></p>

    {% else %}
        <p style="color:black;">NOT LOGGED IN!!!</p>
        <p><a href="{{ path('app_register') }}"style="color:black;">REGISTER</a></p>
        <p><a href="{{ path("playerlistguest") }}"style="color:black;">BACK TO PLAYERS LIST</a></p>
        {% if form is not null and form is not empty %}
            <div style="width: 400px;padding: 20px">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}