{% extends 'base.html.twig' %}

{% block title %}Please Register!{% endblock %}

{% block body %}
    <p><a href="{{ path("playerlistguest") }}"style="color:black;">TO MAIN PAGE</a></p>
    {% if form is not null and form is not empty %}
        <div style="width: 400px;padding: 20px">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}