{# /templates/gb/form.html.twig #}

{% extends 'base1.html.twig' %}
{% block title %}
    ADD NEW ENTRY
{% endblock %}

{% block body %}
    <p>Current date is {{ currentDate }}</p>
    <form action="{{ path('gbAdd') }}" method="POST">
        <table>
            <tr><td>Name:</td>
                <td><input type="text" name="entry_name" /> </td> </tr>
            <tr><td>E-mail address:</td>
                <td><input type="email" name="entry_email" /> </td> </tr>
            <tr><td>Yout opinion:</td>
                <td><textarea name="entry_text" style="width: 500px;height: 300px"></textarea> </td> </tr>
            <tr><td colspan="2"><input type="submit" value="SEND" /> </td> </tr>
        </table>
    </form>
{% endblock %}