<!-- templates/primes/table.html ... placeholders -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Nice table</title>
</head>
<body>
    <table><tr>{{ rows }}</tr></table>
    <hr/>MAXIMUM IS: {{ maximum }}
</body>
</html>