{# routes: carlist(brandId?), carshow(carId), cardel(carId), caredit(carId?) #}

{% extends 'players/players.html.twig' %}

{# @var players \App\Entity\Player[] #}
{# @var teams \App\Entity\Team[] #}

{% block playerBody %}


    <p><a href="{{ path('teamtable') }}"style="color:black;">TABLE</a></p>
    <p><a href="{{ path('app_login') }}"style="color:black;">LOG IN</a></p>
    <p><a href="{{ path('app_register') }}"style="color:black;">REGISTER</a></p>
    <p><a href="{{ path('app_logout') }}"style="color:black;">LOG OUT</a></p>
    <img src="https://e0.365dm.com/20/05/768x432/skysports-premier-league-return_5000805.jpg?20200528144054" alt="W3Schools.com" style="width:1384px;height:542px;">
    <table border="1">
        <tr><th>Name</th><th>Club</th><th>Country</th><th>Apps</th><th>Minutes</th><th>Goals</th><th>Assists</th><th>Passing percentage</th><th>Red cards</th><th>Yellow cards</th><th>Shots per game</th><th>Rating</th></tr>

        {% for player in players %}
            {% set playerTeam = player.playerTeam is null ? "N/A" : player.playerTeam.teamName %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.playerTeam }}</td>
                <td>{{ player.country  }}</td>
                <td>{{ player.apps }}</td>
                <td>{{ player.mins }}</td>
                <td>{{ player.goals }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.ps }}</td>
                <td>{{ player.red }}</td>
                <td>{{ player.yel }}</td>
                <td>{{ player.spg  }}</td>
                <td>{{ player.rating }}</td>



            </tr>
        {% endfor %}
    </table>

   {% endblock %}