{# routes: carlist(brandId?), carshow(carId), cardel(carId), caredit(carId?) #}

{% extends 'players/players.html.twig' %}

{# @var players \App\Entity\Player[] #}





{% block playerBody %}

    <p><a href="{{ path('teamtable') }}"style="color:black;">TABLE</a></p>
    <p><a href="{{ path('playeredit') }}"style="color:black;">ADD NEW PLAYER</a></p>
    <p><a href="{{ path('app_login') }}"style="color:black;">LOG IN</a></p>
    <p><a href="{{ path('app_register') }}"style="color:black;">REGISTER</a></p>
    <p><a href="{{ path('app_logout') }}"style="color:black;">LOG OUT</a></p>
    <table border="1">
        <tr><th>Name</th><th>Club</th><th>Country</th><th>Apps</th><th>Minutes</th><th>Goals</th><th>Assists</th><th>Passing percentage</th><th>Red cards</th><th>Yellow cards</th><th>Shots per game</th><th>Rating</th></tr>

        {% for player in players %}
            {% set playerTeam = player.playerTeam is null ? "N/A" : player.playerTeam.teamName %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.playerTeam }}</td>
                <td>{{ player.country  }}</td>
                <td>{{ player.apps }}</td>
                <td>{{ player.mins }}</td>
                <td>{{ player.goals }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.ps }}</td>
                <td>{{ player.red }}</td>
                <td>{{ player.yel }}</td>
                <td>{{ player.spg  }}</td>
                <td>{{ player.rating }}</td>

                <td><a href="{{ path('playershow', { 'playerId': player.playerId }) }}">SHOW</a></td>
                <td><a href="{{ path('playeredit', { 'playerId': player.playerId }) }}">EDIT</a></td>
                <td><a href="{{ path('playerdel', { 'playerId': player.playerId }) }}">DEL</a></td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}