{% extends 'players/players.html.twig' %}

{# @var player \App\Entity\Player #}
{#
    {{ someDataFromController.someProperty }}
    someDataFromController[someProperty]
    someDataFromController->getSomeProperty()
    someDataFromController->isSomeProperty()
    someDataFromController->hasSomeProperty()
    someDataFromController->$someProperty
#}

{% block playerBody %}

    <table border="1">
        <tr><td>Name:</td><td>{{ player.name }}</td></tr>
        <tr><td>Team:</td><td>{{ player.playerTeam }}</td></tr>
        <tr><td>Country:</td><td>{{ player.country }}</td></tr>
        <tr><td>Apps:</td><td>{{ player.apps }}</td></tr>
        <tr><td>Minutes:</td><td>{{ player.mins }}</td></tr>
        <tr><td>Goals:</td><td>{{ player.goals }} </td></tr>
        <tr><td>Assists:</td><td>{{ player.assists }} </td></tr>
        <tr><td>Pass Percentage:</td><td>{{ player.ps }} </td></tr>
        <tr><td>Red cards:</td><td>{{ player.red }} </td></tr>
        <tr><td>Yellow cards:</td><td>{{ player.yel }} </td></tr>
        <tr><td>Shot per game:</td><td>{{ player.spg }} </td></tr>
        <tr><td>Rating:</td><td>{{ player.rating }} </td></tr>


    </table>
{% endblock %}