
{% extends 'base.html.twig' %}

{% block title %}Player manager page{% endblock %}
{% block body %}
    <p><a href="{{ path('playerlistguest') }}"style="color:black;">BACK TO THE LIST PAGE</a></p>
    {% block playerBody %}
    {% endblock %}
{% endblock %}
