{# routes: carlist(brandId?), carshow(carId), cardel(carId), caredit(carId?) #}

{% extends 'players/players.html.twig' %}

{# @var teams \App\Entity\Team[] #}

{% block playerBody %}


    <p><a href="{{ path('app_login') }}"style="color:black;">LOG IN</a></p>
    <p><a href="{{ path('app_register') }}"style="color:black;">REGISTER</a></p>
    <p><a href="{{ path('app_logout') }}"style="color:black;">LOG OUT</a></p>
    <table border="1">
        <tr><th>Club</th><th>GP</th><th>W</th><th>D</th><th>L</th><th>GF</th><th>GA</th><th>Points</th></tr>

        {% for team in teams %}

            <tr>
                <td>{{ team.teamName }}</td>
                <td>{{ team.gamesplayed}}</td>
                <td>{{ team.wins  }}</td>
                <td>{{ team.draws }}</td>
                <td>{{ team.lost }}</td>
                <td>{{ team.gf }}</td>
                <td>{{ team.ga }}</td>
                <td>{{ team.points }}</td>



            </tr>
        {% endfor %}
    </table>
{% endblock %}