<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Calculation Results</title>
</head>
<body>
<p style="font-size:22px;color:red;font-weight:bold">{{ OUTPUT }}</p>

<a href="/calc/form">BACK TO THE FORM</a>
</body>
</html>