{% extends 'base.html.twig' %}

{% block title %}Vote system{% endblock %}

{% block body %}
    <a href="{{ path('votes_listq') }}">BACK TO THE QUESTION LIST</a><br />
    {# @var \App\Entity\Choice[] choices #}
    {% for choice in choices %}
        <p>
            {{ choice.choText }} [NUMBER OF VOTES: {{ choice.choNumvotes  }}] |
            <a href="{{ path('votes_vote', { 'choice': choice.choId } ) }}">VOTE FOR THIS</a>
        </p>
    {% endfor %}
{% endblock %}