{% extends 'base.html.twig' %}

{% block title %}Vote system{% endblock %}

{% block body %}
    {# @var \App\Entity\Question[] questions #}
    {% for question in questions %}
        <p>
            <a href="{{ path('votes_listc', { 'question': question.quId } ) }}">{{ question.quText }}</a>
        </p>
    {% endfor %}

{% endblock %}