{# routes: carlist(brandId?), carshow(carId), cardel(carId), caredit(carId?) #}

{% extends 'cars/cars.html.twig' %}

{# @var cars \App\Entity\Car[] #}

{% block carBody %}
    <h2>LIST OF CARS</h2>
    <p><a href="{{ path('caredit') }}">ADD NEW CAR</a></p>
    <table border="1">
        <tr><th>Brand</th><th>Model</th><th>Datasheet</th><th>Edit</th><th>Remove</th></tr>

        {% for car in cars %}
            {% set brandName = car.carBrand is null ? "N/A" : car.carBrand.brandName %}
            <tr>
                <td>{{ brandName }}</td>
                <td>{{ car.carModel }}</td>
                <td><a href="{{ path('carshow', { 'carId': car.carId }) }}">SHOW</a></td>
                <td><a href="{{ path('caredit', { 'carId': car.carId }) }}">EDIT</a></td>
                <td><a href="{{ path('cardel', { 'carId': car.carId }) }}">DEL</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}