{# routes: carlist(brandId?), carshow(carId), cardel(carId), caredit(carId?) #}
{# CRUD: Create Read Update Delete #}
{#
    carEntity ( = carDataModel)
    carViewModel
    carDTO for forms
    carDTO for web services/JSON api
    carDomainModel ( = carDataModel + Business Logic)

    ONLY THIS SEMESTER: use carEntity in all layers
#}
{% extends 'base.html.twig' %}

{% block title %}My Car Manager Page{% endblock %}
{% block body %}
    <p><a href="{{ path('carlist') }}">BACK TO THE LIST PAGE</a></p>
    {% block carBody %}
    {% endblock %}
{% endblock %}
