{# /templates/rb/form1.html.twig #}

{% extends 'base1.html.twig' %}
{% block title %}
    ADD NEW RECIPE
{% endblock %}

{% block body %}
        <form action="{{ path('rbAdd') }}" method="POST">
        <table>
            <tr><td>Name:</td>
                <td><input type="text" name="entry_name" /> </td> </tr>
            <tr><td>Number of ingredients:</td>
                <td><input type="text" name="entry_number" /> </td> </tr>
            <tr><td>Ingredients:</td>
                <td><textarea name="entry_text" style="width: 500px;height: 300px"></textarea> </td> </tr>
            <tr><td colspan="2"><input type="submit" value="SEND" /> </td> </tr>
        </table>
    </form>
{% endblock %}