{# /templates/rb/form2.html.twig #}

{% extends 'base1.html.twig' %}
{% block title %}
    ADD NEW RECIPE
{% endblock %}

{% block body %}
    <form action="{{ path('rbAdd1') }}" method="POST">
        <table>
            <tr><td>Name of ingredient:</td>
                <td><input type="text" name="entry_name" /> </td> </tr>
        </table>
    </form>
{% endblock %}