{# templates/rb/list.html.twig #}

{% extends 'base1.html.twig' %}
{% block title %}
    RECIPEBOOK
{% endblock %}

{% block body %}
    <p><a href="{{ path('rbFrom') }}">ADD NEW RECIPE</a></p>
    <p><a href="{{ path('rbList1') }}">INGREDIENTS</a></p>

    {# entries[] => entry { name, text } #}
    {% for entry in entries %}
        <div style="border: 1px solid green">
            <p>Recipe name: {{ entry.name }}</p>
            <p>Ingredients:{{ entry.text|nl2br}}</p>
        </div>
    {% endfor %}

    {{ dump(entries) }}
{% endblock %}

