{# templates/rb/list2.html.twig #}

{% extends 'base1.html.twig' %}
{% block title %}
    Ingredients
{% endblock %}

{% block body %}
    <p><a href="{{ path('rbFrom1') }}">ADD NEW INGREDIENT</a></p>
    <p><a href="{{ path('rbList') }}">BACK TO RECIPEBOOK</a></p>

    <table style="width:100%">
        <tr>
            <th>Ingredients</th>
        </tr>
    {# entries[] => entry { text } #}
    {% for entry in entries %}

            <tr>
                <td>
                    <p>{{ entry.text|nl2br }}</p>
                </td>
            </tr>

    {% endfor %}
    </table>
    {{ dump(entries) }}
{% endblock %}

