{# /templates/forum/changepassform.html.twig #}

{% extends 'base1.html.twig' %}
{% block title %}
    CHANGE PASSWORD
{% endblock %}

{% block body %}
    <form action="{{ path('changePass') }}" method="POST">
        <table>
            <tr><td>Name:</td>
                <td><input type="text" name="entry_name" /> </td> </tr>
            <tr><td>New password:</td>
                <td><input type="text" name="entry_text" /> </td> </tr>
            <tr><td colspan="2"><input type="submit" value="SEND" /> </td> </tr>
        </table>
    </form>
{% endblock %}