{# templates/forum/forumbase.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    My Nice Forum
{% endblock %}

{% block body %}
    <h2>FORUM PAGE</h2>
    <hr />
    {% block forumcontent %}{% endblock %}
{% endblock %}