{# templates/forum/topiclist.html.twig #}
{# @var model \App\Model\TopicListModel #}

{%  extends 'forum/forumbase.html.twig' %}

{% block forumcontent %}
    <p><a href="{{ path("app_login") }}"style="color:black;">BACK TO MENU</a></p>
    {% for topic in model.topicList %}
        <p>
            <a href="{{ path('forum_msglist', { 'topic': topic.id }) }}">
                TOPIC #{{ topic.id }}: {{ topic.name }}
            </a>
        </p>
    {% endfor %}

    {% form_theme model.topicForm 'form_table_layout.html.twig' %}
    {{ form_start(model.topicForm) }}
    {{ form_widget(model.topicForm) }}
    {{ form_end(model.topicForm) }}
{% endblock %}